body{
    background-color: beige;
}

img{
    /*width: 500px;*/
    max-width: 50%;
    height: auto;
    display: block;
    margin: 0 auto;
    /*float: right;*/
    border: 5px solid black;
    border-radius: 5%;
    box-shadow: 5px 5px 10px gray;
}